body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: black;}

header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    color:rgb(170, 99, 99);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color: rgb(250, 224, 224);
    color: black;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-right: 10px;
    color: #495057;
}

input[type="submit"] {
    background-color: rebeccapurple;
    color: #3d3030;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
background-color: #533d3d;
}
